<a href="https://colab.research.google.com/github/Camille-saran/puns_analogies/blob/main/prototype1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from nltk.corpus import words
import nltk
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [ ]:
def tokenizer(word):
    tokens = []
    f = []
    i = 1
    j = 1
    for i in range(len(word)):
        for j in range(len(word)):
            wordmix = word[j:]
            tokens.append(wordmix[:i])
    tokens = list(set(tokens))
    print(tokens)

    for t in tokens:
      if len(t) >= 2:
        print(t)
        f.append(t)

    return f

In [ ]:
def word_in_english(sub_words):
  list_ = []
  for x,y in enumerate(sub_words):
    if y in words.words():
      list_.append(y)
  return list_

In [ ]:
sub_words = word_in_english(tokenizer(word))

['', 'e', 'enc', 'l', 'penci', 'n', 'pe', 'en', 'enci', 'pen', 'p', 'il', 'ncil', 'penc', 'cil', 'c', 'encil', 'ci', 'nc', 'nci', 'i']
enc
penci
pe
en
enci
pen
il
ncil
penc
cil
encil
ci
nc
nci

In [ ]:
print(sub_words)

['en', 'pen']

In [ ]:
import nltk
import pandas as pd
nltk.download('wordnet')
from nltk.corpus import wordnet as wn
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
df

,word,syn,ant,hyper,hypo
0,en,NaN,NaN,NaN,NaN
1,pen,write,NaN,[writing_implement],"['ballpoint', 'ballpoint_pen', 'ballpen', 'Biro']"

In [ ]:
def remPlacement(mot,submot,newmot): 
    mot = mot.replace(submot, newmot)
    return mot

In [ ]:
df = pd.DataFrame(columns=['word','syn','ant','hyper','hypo'])
df['word']=sub_words
for x, y in enumerate(sub_words):
    for synset in wn.synsets(y):
        ant_ = []
        syn_= []
        for l in synset.lemmas():
            syn_.append(l.name())
            if l.antonyms():
                ant_.append(l.antonyms()[0].name())
    try:
      My_sysn = wn.synsets(y)[0] 
      hyper_ = [x.lemma_names() for x in My_sysn.hypernyms()]
      hypo_ = [str(x.lemma_names()) for x in My_sysn.hyponyms()]
    except:
      continue
    syn_ = [item for item in syn_ if item != y]
    try:
      df.iloc[x]['hypo']=hypo_[0]
      df.iloc[x]['hyper']=hyper_[0]
      df.iloc[x]['syn']=syn_[0]
      df.iloc[x]['ant']=ant_[0]
    except IndexError:
      continue

In [ ]:
def substract(a, b):                              
    return "".join(a.rsplit(b))

In [ ]:
word = "pencil"

In [ ]:
print(type(df.iloc[5]['hyper']))

<class 'list'>

In [ ]:
c  = sub_words[1]
d = word
a = df.iloc[1]['hyper'][0]
b = remPlacement(word,c,a)
print(a,'is to', b, 'as to', c, 'is to', d)

writing_implement is to writing_implementcil as to pen is to pencil

In [ ]:
df

,word,syn,ant,hyper,hypo
0,en,NaN,NaN,NaN,NaN
1,pen,write,NaN,[writing_implement],"['ballpoint', 'ballpoint_pen', 'ballpen', 'Biro']"

In [ ]:
def get_word(df):
  if df.iloc[1]['hyper'][0]

In [ ]:
for index, row in df.iterrows():
    syn = row['syn']
    ant = row['ant']
    hyper = row['hyper']
    hypo = row['hypo'])

nan nan nan nan
write nan ['writing_implement'] ['ballpoint', 'ballpoint_pen', 'ballpen', 'Biro']