<a href="https://colab.research.google.com/github/Camille-saran/puns_analogies/blob/main/prototype1_reviewed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
from nltk.corpus import words
import nltk
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [90]:
def tokenizer(word):
    tokens = []
    f = []
    i = 1
    j = 1
    for i in range(len(word)):
        for j in range(len(word)):
            wordmix = word[j:]
            tokens.append(wordmix[:i])
    tokens = list(set(tokens))

    for t in tokens:
      if len(t) >= 2:
        f.append(t)

    return f

In [91]:
def word_in_english(sub_words):
  list_ = []
  for x,y in enumerate(sub_words):
    if y in words.words():
      list_.append(y)
  return list_

In [92]:
import nltk
import pandas as pd
nltk.download('wordnet')
from nltk.corpus import wordnet as wn
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [93]:
def remPlacement(mot,submot,newmot): 
    mot = mot.replace(submot, newmot)
    return mot

In [94]:
def substract(a, b):                              
    return "".join(a.rsplit(b))

In [95]:
def is_str(obj):
  if type(obj)==str:
    return True

In [96]:
def exist(df, index, cat):
  item = df.iloc[index][cat]
  if is_str(item):
    return item

In [97]:
def construct_df(sub_words):
  df = pd.DataFrame(columns=['word','syn','ant','hyper','hypo'])
  df['word']=sub_words
  for x, y in enumerate(sub_words):
      for synset in wn.synsets(y):
          ant_ = []
          syn_= []
          for l in synset.lemmas():
              syn_.append(l.name())
              if l.antonyms():
                  ant_.append(l.antonyms()[0].name())
      try:
        My_sysn = wn.synsets(y)[0] 
        hyper_ = [x.lemma_names() for x in My_sysn.hypernyms()]
        hypo_ = [x.lemma_names() for x in My_sysn.hyponyms()]
      except:
        continue
      syn_ = [item for item in syn_ ]#if item != y]
      try:
        df.iloc[x]['hypo']=hypo_[0][0]
        df.iloc[x]['hyper']=hyper_[0][0]
        if syn_[0]==y:
          df.iloc[x]['syn']=syn_[1]
        else:
          df.iloc[x]['syn']=syn_[0]
        df.iloc[x]['ant']=ant_[0]
      except IndexError:
        continue
  return df

In [98]:
def punalogy(semantic_link, index, cat, sub_words, word, df):
    a  = sub_words[index]
    b = word.replace(" ", "_")
    c = df.iloc[index][cat]#.replace("_", " ")
    #if type(c)==list:
      #c=str(c[0]).replace("_", " ")
    d = remPlacement(b,a,c.replace("_", " "))
    analogy = str(a) +' is to ' + str(b) + ' as '+ str(c).replace("_", " ") + ' is to '+ str(d)
    return analogy

In [111]:
def get_punalogy(word):
  subwords = word_in_english(tokenizer(word))
  df = construct_df(subwords)
  analogies = get_word2(df, subwords, word)
  if not analogies:
    return "no analogy is possible", None
  else:
    return analogies, df

In [100]:
def get_word(df, subwords, word):
  cat_list =['syn','ant','hyper','hypo']
  analogies = []
  for index, sub in enumerate(subwords):
    for i, cat in enumerate(cat_list):
      semantic_link = exist(df, index, cat)
      if is_str(semantic_link):
        analogy = punalogy(semantic_link, index, cat, subwords, word, df)
        analogies.append(analogy)
      else:
        continue
  return analogies

In [145]:
word = "sunglass"
analogy,df = get_punalogy(word)
print('\nanalogies=', analogy)

analogies= ['glass is to sunglass as glaze is to sunglaze', 'glass is to sunglass as solid is to sunsolid', 'glass is to sunglass as crown glass is to suncrown glass', 'lass is to sunglass as lassie is to sunglassie', 'lass is to sunglass as girl is to sunggirl', 'lass is to sunglass as bobbysoxer is to sungbobbysoxer']

In [146]:
df

    word     syn  ant  hyper         hypo
0    sun     NaN  NaN    NaN          NaN
1     as     NaN  NaN    NaN          NaN
2    ass     NaN  NaN    NaN          NaN
3     la     NaN  NaN    NaN          NaN
4  glass   glaze  NaN  solid  crown_glass
5    las     NaN  NaN    NaN          NaN
6   lass  lassie  NaN   girl   bobbysoxer
7     un     NaN  NaN    NaN          NaN
8   sung     NaN  NaN    NaN          NaN